:root {
    --background-color: #f8f8f8;
}

.body-aktie{
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 1000px;
    justify-self: center;
}

/*SUCHE*/
.suche-aktie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.suche-aktie form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.suche-aktie form input{
    height: 22px;
    width: 200px;
    font-family: "Poppins", serif;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
}

.order-btn{
    margin-top: 30px;
}

.order-btns{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.suche-aktie form button, .order-btn{
    font-family: "Poppins", serif;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
    height: 40px;
}

.suche-aktie form button:hover, .order-btn:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

/*AKTIENAUSGABE*/
.positive-change {
    color: green;
}
  
.negative-change {
    color: red;
}
  
.aktien-ausgabe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aktien-kurse{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 8px 16px;
}

.aktueller-kurs{
    background-color: var(--background-color);
}


.aktien-kurse-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}


.aktien-kurse-links{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kurse{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: start;
    justify-content: flex-start;
}

.market-price{
    color: black;
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.market-change-percent{
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

/*Deine Position*/
.deine-position{
    width: 100%;
}


.deine-position {
    margin-top: 20px;
}
  
.deine-position {
    margin-top: 20px;
}

.deine-position table {
    width: 100%;
    border-collapse: collapse; 
    table-layout: fixed; 
}
  
.deine-position th {
    font-weight: bold;
    text-align: left; 
    color: black; 
    padding: 10px;
}
  
.deine-position td {
    text-align: left; 
    padding: 8px;
    font-weight: 500;
}

.neutral{
    color: #616161;
}



/*Chart*/
.aktien-kurse-rechts{
    width: auto;
    height: 250px; 
    overflow: hidden;
}

.aktien-kurse-rechts img {
    width: 100%; 
    height: 100%; 
    display: block; 
}


/*INFOS*/
.aktien-infos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 8px 16px;

}

.markt-daten {
    width: 400px;
}

.markt-daten h3{
    margin: 8px 0px;
    text-decoration: underline;
}

.markt-daten table {
    border-collapse: collapse;
    width: 100%;
}

.markt-daten table td {
    padding: 8px;
}

.markt-daten table td:first-child {
    font-weight: 500;
    width: 60%;
    text-align: left;
    padding: 8px 0px;
}

.markt-daten table td:last-child {
    text-align: right;
    color: rgb(43, 43, 43);
}
  
.order-btn{
    width: fit-content;
}