:root {
    --text-gray: #A8A8A8;
}

/*MIDDLE*/
#anteileInput{
    font-size: 50px;
    width: 150px;
    text-align: center;
    border: 1px solid var(--text-gray);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px;
}

.card-top-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-top-order{
    display: flex;
    flex-direction: column;
    width: 100%;
}